
<div class ="container">        
        <form 
            #formularioBusqueda="ngForm"
            novalidate
            (submit)="buscar(formularioBusqueda)">
            <div class="row">
                <div class="col-sm-9">

                    <div class="form-group row">
                        <label for="busqueda">Busqueda</label>

                        <input id="busqueda"
                            type="text"
                            name="busqueda"
                            [(ngModel)]="busqueda"
                            class="form-control">
                    </div>
                    

                </div>
                <div class="col-sm-3">
                    
                    <button type="submit"                       
                            class="btn btn-outline-primary btn-block ">

                        Buscar

                    </button>
                    <br>
                <a  [routerLink]="['crearGrupo']" [queryParams]="{id: nuevoId}">
                    <button
                            class="btn btn-outline-success btn-block ">

                        Crear

                    </button>
                </a>

                </div>
            </div>
        </form>

    <table class="table table-hover animated slideInLeft">
        <thead>
        <tr>
            <!-- th -> table header -->
            <th width="20%">Nombre</th>
            <th width="20%">Fecha de nacimiento</th>
            <th width="5%">Numero de autos</th>
            <th width="15% "style="text-align: center">Licencia Valida</th>
            <th width="25%" style="text-align: center">Accion</th>

        </tr>
        </thead>
        <tbody *ngFor="let grupo of grupos">
              <tr>
                  <!-- td -> table detail -->
                  <td>{{grupo.nombre}}</td>
                  <td>{{grupo.fechaNacimiento}}</td>
                  <td>{{grupo.numeroAutos}}</td>
                  <td>{{grupo.licenciaValida}}</td>
                  <td>
                      <a 
                         class="quitar-link">
                          <button (click)="eliminarGrupo(grupo)"
                                  class="btn btn-outline-danger btn-block espaciado-boton">
                              Eliminar
                          </button>
                      </a>
                      <a routerLink="productos/{{grupo.id}}"
                         class="quitar-link">
                          <button
                                  class="btn btn-outline-info btn-block espaciado-boton">
                              Ver producto
                          </button>
                      </a>
                  </td>
              </tr>
        
        </tbody>


    </table>



</div>
<router-outlet></router-outlet>
