
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<ion-header>
  <ion-toolbar>
    <ion-title>agregarCliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
      
    <form (ngSubmit)="crear()">
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Apellido</ion-label>
          <ion-textarea [(ngModel)]="apellido" name="apellido"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>Numero de Autos</ion-label>
            <ion-input type="number" [(ngModel)]="numeroAutos" name="numeroAutos"></ion-input>
          </ion-item>
        
        <ion-item>
            <ion-label>Licencia Valida?</ion-label>
            <ion-select [(ngModel)]="licenciaValida" name ="licenciaValida"okText="Okay" cancelText="Dismiss">
                <ion-select-option value="true">Si</ion-select-option>
                <ion-select-option value="false">No</ion-select-option>
              </ion-select>
          </ion-item>
        <button class="btn btn-primary" type="submit" block>Agregar </button>
      </form>

    <br>
        <ion-button type="submit"  (click)=volver()>Volver</ion-button>
    
</ion-content>
