<div style="text-align: center">
  <img width = "300 "src="http://localhost:1337/descargarArchivo/1" alt="Angular logo">
</div>
<a href="http://localhost:1337/descargarArchivo/1" target="_blank"> Descargar</a>



<label for="imagen" class="boton">Subir imagen</label>
<input id ="imagen" 
hidden="true"
type="file" name="imagen" placeholder="Seleccionar Archivo"
(change)=seleccionarArchivo($event)

>

<h2>Nombre archivo: {{archivo?.name}}</h2>
<button (click)="enviarArchivo()">Enviar archivo</button>